<?xml version="1.0"?>
<!--
  ~ Copyright © Paazl. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Paazl_CheckoutWidget::paazl" title="Paazl" translate="title" sortOrder="100">
                    <resource id="Paazl_CheckoutWidget::deferred_queue" title="Deferred Queue" translate="title" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
