<?xml version="1.0"?>
<!--
  ~ Copyright © 2019 Paazl. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <paazlshipping>
                <version>v1.10.0</version>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <price>0</price>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <api_timeout>300</api_timeout>
                <model>Paazl\CheckoutWidget\Model\Carrier\Paazlshipping</model>
                <name>Paazl</name>
                <title>Paazl Shipping</title>
                <show_on_firstload>1</show_on_firstload>
                <housenumber_second_street>0</housenumber_second_street>
                <housenumber_extension_third_street>0</housenumber_extension_third_street>
                <infotext/>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <widget_tabs>DELIVERY,STORE,PICKUP</widget_tabs>
                <widget_nominated_date>1</widget_nominated_date>
                <widget_section_mode>TAB</widget_section_mode>
                <widget_default_tab>DELIVERY</widget_default_tab>
                <widget_shipping_options_limit>5</widget_shipping_options_limit>
                <widget_pickup_locations_page_limit>5</widget_pickup_locations_page_limit>
                <widget_pickup_locations_limit>30</widget_pickup_locations_limit>
                <widget_initial_pickup_locations>5</widget_initial_pickup_locations>
                <insurance_value>0</insurance_value>
                <housenumber_default_value>1</housenumber_default_value>
                <total_price>subtotal_incl_discount</total_price>
                <use_local_js_for_widget>0</use_local_js_for_widget>
            </paazlshipping>
        </carriers>
    </default>
</config>
