name: Run setup:di:compile
on: [pull_request]

jobs:
  build:
    strategy:
      matrix:
        include:
          - PHP_VERSION: php71-fpm
            MAGENTO_VERSION: 2.3.3
          - PHP_VERSION: php73-fpm
            MAGENTO_VERSION: 2.3.7
          - PHP_VERSION: php74-fpm
            MAGENTO_VERSION: 2.4.0
          - PHP_VERSION: php81-fpm
            MAGENTO_VERSION: 2.4.4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Start Docker
        run: docker run --detach --name magento-project-community-edition michielgerritsen/magento-project-community-edition:${{ matrix.PHP_VERSION }}-magento${{ matrix.MAGENTO_VERSION }}

      - name: Create branch for Composer and remove version from composer.json
        run: git checkout -b continuous-integration-test-branch && sed -i '/version/d' ./composer.json

      - name: Upload the code into the docker container
        run: docker cp $(pwd) magento-project-community-edition:/data/extensions/

      - name: Install the extension in Magento
        run: docker exec magento-project-community-edition composer require paazl/magento2-checkout-widget:@dev --no-plugins

      - name: Run setup:di:compile
        run: docker exec magento-project-community-edition ./retry "php bin/magento setup:di:compile"